@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .menu-bar {
      @apply w-full;
      /* @apply h-full; */
      @apply mb-0;
      @apply flex;
      @apply flex-row;
      @apply items-center;
      @apply justify-center;
      @apply lg:w-fit;
      @apply lg:ml-10;
      @apply lg:mr-auto;
      @apply lg:mt-0;
      @apply lg:mb-auto;
    }

    .global-window {
      @apply flex;
      @apply flex-col;
      @apply w-full;
      @apply lg:m-0;
      @apply lg:my-0;
      @apply mb-auto;
      @apply bg-gradient-to-r from-[#2c2c2c] via-[#6a6a6a] to-[#2c2c2c];
      @apply rounded;
      @apply border;
      @apply border-black;
      @apply shadow-2xl;
      @apply h-full;
    }
}

  @keyframes minimizeWindow {
    0% {
      transform: scaleX(1);
      opacity: 1;
    }
    100% {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  .minimize-animation {
    animation: minimizeWindow 0.5s ease-in-out;
  }

  @keyframes openWindow {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  .open-animation {
    animation: openWindow 0.5s ease-in-out;
  }